<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о разработчике и приложении</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Book-stack</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/About}">About the attachment</a>
            </li>
        </ul>
    </div>
</nav>
<h1>Информация о разработчике и приложении</h1>

<p>   Добро пожаловать в мир знаний и приключений – добро пожаловать в наше Книжное Приложение!<br>
      Здесь мы открываем двери в удивительные миры, наполняем вас волнующими историями и предоставляем доступ к бескрайнему океану знаний.<br>
      Наше приложение - это не просто виртуальная библиотека, это ваш личный проводник в мире литературы.<br>
      Сотни тысяч книг ждут вас, готовые подарить вам увлекательные часы историй, научных открытий, фантастики и приключений.<br>
      Danya - эксперт Spring Boot, воплощающий в жизнь наши идеи в код.<br>
      С его профессионализмом и страстью к разработке каждый проект становится сильным и эффективным.<br>
      В мире Spring Boot Danya создаёт инновации, делая нашу разработку ещё более динамичной и удобной.</p>

</body>
</html>